/*body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.login-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: fixed;
    inset: 0px;
    width: 23rem;
    height: 22rem;
    margin: auto;
}

.space-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.login-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.login-form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.submit-button-login {
    width: 50%;
    padding: 12px;
    background: #1e90ff;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 25px;
}

.submit-button-login:hover {
    background: #007acc;
}

.reg-link {
    color: cornflowerblue;
}